body {
    font-family: Arial;
    margin: 0;
    background: #f2f2f2;
}

/* NAVBAR */
.nav {
    background: blue;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.nav button {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
}

/* CONTENT */
.container {
    padding: 30px;
}

h1 {
    color: blue;
}

h2 {
    color: blue;
}

/* BUTTONS */
.buttons {
    text-align: center;
    margin: 30px;
}

.buttons a {
    background: blue;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
}

/* SIMPLE RESPONSIVE */
@media (max-width: 600px) {
    .nav {
        flex-direction: column;
        text-align: center;
    }
}
